*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{

}
.data{
    display: flex;
    flex-direction: column;
}
.subjectnames{
    display: flex;
    flex-direction: column;
}
h1{
    padding-top: 5vh;
    color: rgb(23, 104, 255);
    padding-bottom: 5vh;
}
.data>label{
    padding: 2vh 0;
    font-weight: 600;
    color: rgb(1, 34, 77);
}
.data>input{
    width: 50vh;
    height: 6vh;
    font-size: 3vh;
    padding: 1vh;
    border-style: none;
    background-color: rgb(206, 240, 255);
    border-radius: 10px;
}
button{
    width: 10vh;
    padding: 10px;
    margin: 5vh 0;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: blue;
}
button:hover{
    background-color: rgb(45, 45, 252);
}
button:active{
    background-color: rgb(1, 1, 151);
}
#subjectnames>div{
    margin-top: 2vh;
}
#subjectnames>div>label{
    padding: 0 2vh;
    font-weight: 600;
    color: rgb(0, 20, 65);
}
#subjectnames>div>input{
    margin: 0 2vh;
    height: 5vh;
    width: fit-content;
    padding: 5px;
    font-weight: 600;
}
#tables>div>table{
    border-style: double;
    align-items: center;
    border-radius: 2px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#tables>div>table>tbody>tr>td{
    width: 6vh;
    align-items: center;
    height: 5vh;
    padding: 2vh;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2vh;
  }
.labtableinput{
    width: 5vw;
    padding: 10px;
}
#labinp{
    margin-bottom: 10vh;
}
#staff{
    display: flex;
    flex-direction: column;
}
#staff>div>label{
    margin-right: 10px;
    font-weight: 600;
}
#staff>div{
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#staff>div>input{
    padding: 10px;
    float: right;
}
